<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="cn.choleece.base.framework.spring.ioc.HelloWorldBean">
        <property name="name" value="choleece"/>
    </bean>

    <bean id="innerHello" class="cn.choleece.base.framework.spring.ioc.HelloWorldBean.Hello">
        <property name="name" value="choleece"/>
    </bean>

</beans>