<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="cn.choleece.base.framework.spring.ioc.HelloWorldBean" init-method="init" destroy-method="destroy" lazy-init="true">
        <property name="name" value="choleece"/>
    </bean>

    <bean id="innerHello" class="cn.choleece.base.framework.spring.ioc.HelloWorldBean.Hello">
        <property name="name" value="choleece"/>
    </bean>

    <bean id="helloWorld" class="cn.choleece.base.framework.spring.ioc.BeanPostProcessorTest.HelloWorld" lazy-init="false" init-method="init" destroy-method="destroyMethod">
        <property name="message" value="hello, world!"/>
    </bean>

<!--    <bean id="helloWorld" class="cn.choleece.base.framework.spring.ioc.BeanPostProcessorTest.HelloWorld" lazy-init="false">-->
<!--        <property name="message" value="hello, world!"/>-->
<!--    </bean>-->

    <bean id="beanFactoryPostProcessor" class="cn.choleece.base.framework.spring.ioc.BeanPostProcessorTest.MyBeanFactoryPostProcessor"/>

</beans>